@{
    ViewData["Title"] = "Home Page";
}

<div aurelia-app="boot">Loading...</div>

@section scripts {
<script src="~/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/kendo.custom.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/kendo.culture.sv-SE.min.js" asp-append-version="true"></script>

}
